html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.cluster-marker {
  /* color: chartreuse; */
  background: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 10;
}

.crime-marker {
  background: none;
  border: none;
}

.crime-marker img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* display non mapbox logo */
.mapboxgl-ctrl-bottom-left {
  display: none;
}

div.mapboxgl-popup-content {
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
